@tailwind base;
@layer base {
  h1 {
    font-size: var(--step-4);
    @apply font-extrabold leading-tight tracking-tight text-black;
  }
  h2 {
    font-size: var(--step-3);
    @apply font-extrabold leading-tight tracking-tight;
  }
  h3 {
    font-size: var(--step-2);
    @apply font-extrabold tracking-tight;
  }
  h5 {
    font-size: var(--step-0);
    @apply font-bold leading-normal tracking-tighter capitalize;
  }
  p {
    font-size: var(--step-0);
  }

  label {
    @apply block text-sm font-medium text-left text-gray-600;
  }

  input[type='date'] {
    @apply block w-full px-3 py-2 border-2 border-gray-300 appearance-none rounded-xl focus:outline-none sm:text-sm;
  }

  input[type='text'] {
    @apply block w-full px-3 py-2 placeholder-gray-400 border-2 border-gray-300 appearance-none rounded-xl focus:outline-none sm:text-sm;
  }

  input[type='password'] {
    @apply block w-full px-3 py-2 placeholder-gray-400 border-2 border-gray-300 appearance-none rounded-xl focus:outline-none sm:text-sm;
  }

  input[type='password']:focus {
    @apply shadow-xl focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
  }

  input[type='text']:focus {
    @apply shadow-xl focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
  }

  input[type='email'] {
    @apply block w-full px-3 py-2 placeholder-gray-400 border-2 border-gray-300 appearance-none rounded-xl focus:outline-none sm:text-sm;
  }

  input[type='email']:focus {
    @apply shadow-xl focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
  }

  .error {
    @apply text-red-500;
  }

  section {
    @apply max-w-screen-xl px-4 pt-16 pb-16 mx-auto lg:pb-32 lg:pt-32;
  }

  input[type='radio'] {
    @apply hidden w-0 h-0;
  }
  .radio-label {
    @apply relative z-10 items-center justify-center block w-full p-4 mx-auto font-bold text-center text-black align-middle bg-white border cursor-pointer h-14 rounded-xl;
  }
  input[type='radio']:checked + .radio-label {
    @apply z-0 text-white bg-indigo-500 border-indigo-500 shadow-2xl bg-clip-border drop-shadow-xl;
  }
  .radio-label:hover {
    @apply z-0 text-white transition-all duration-300 bg-indigo-500 border-indigo-500 shadow-2xl bg-clip-border drop-shadow-xl;
  }
  input[type='email'] {
    border-radius: 0.75rem;
  }
}

@tailwind components;
@tailwind utilities;

.navbar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}

:root {
  --step-0: clamp(1.31rem, 1.31rem + 0vw, 1.31rem);
  --step-1: clamp(1.58rem, 1.55rem + 0.13vw, 1.64rem);
  --step-2: clamp(1.89rem, 1.83rem + 0.31vw, 2.05rem);
  --step-3: clamp(2.27rem, 2.15rem + 0.58vw, 2.56rem);
  --step-4: clamp(2.72rem, 2.53rem + 0.94vw, 3.2rem);
  --step-5: clamp(3.27rem, 2.98rem + 1.44vw, 4.01rem);
  --step-6: clamp(3.92rem, 3.49rem + 2.12vw, 5.01rem);
}

.transparent {
  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5; /* khtml, old safari */
  -moz-opacity: 0.5; /* mozilla, netscape */
  opacity: 0.5; /* fx, safari, opera */
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.display {
  font-size: var(--step-6);
  @apply font-extrabold leading-tight tracking-tight text-black;
}

.body {
  overscroll-behavior-y: none;
}

.react-player {
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
}
.space-bg {
  background-image: url('/space.png');
}

video {
  border-radius: 0.75rem;
}

.linkedin {
  width: 100%;
  min-height: 15em;
  height: inherit;
}

.embla {
  position: relative;
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  padding-left: 10px;
}

.embla__slide__full {
  position: relative;
  flex: 0 0 auto;
  max-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  width: 356px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__progress {
  position: relative;
  background-color: #f4f4f4;
  margin-top: 20px;
  max-width: 270px;
  width: calc(100% - 40px);
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  max-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__progress__bar {
  position: absolute;
  background-color: #221818fd;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

@layer utilities {
  .form-button {
    @apply flex justify-center w-full px-3 py-2 overflow-hidden text-xl font-bold align-middle transition-all duration-300 ease-linear bg-white border-2 border-black rounded-xl shadow-primary;
  }
  .form-button:hover {
    @apply hover:shadow-none hover:bg-black hover:text-white;
  }

  .careform-button {
    @apply flex justify-center w-full px-3 py-2 overflow-hidden text-base font-semibold text-white align-middle transition-all duration-300 ease-linear bg-blue-500 border-2 rounded-xl;
  }

  .careform-button:hover {
    animation: careform-button 30s ease infinite;
    background: linear-gradient(270deg, #60a5fa, #f472b6);
    background-size: 400% 400%;
    -webkit-animation: careform-button 30s ease infinite;
    -moz-animation: careform-button 30s ease infinite;
    animation: careform-button 30s ease infinite;
  }
  @-webkit-keyframes careform-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes careform-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes careform-button {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.text-rad {
  animation: flow 20s ease-in-out infinite;
  background: linear-gradient(-60deg, #60a5fa, #f472b6);
  background-size: 200%;
  -webkit-animation: flow 30s ease infinite;
  -moz-animation: flow 30s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.rad-gridbg {
  background: linear-gradient(270deg, #60a5fa, #f472b6, #64dfb8);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
